@import 'tailwindcss';

/* ThemeApp */
@theme {
  --color-primary: #3751ff;
  --color-secondary: #f7f8fc;
  --color-surface: #ffffff;
  --color-tertiary: #292933;
  --color-muted: #a4a6b3;
  --color-border: #c7c7d2;
  --color-alternative: #7f56d9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
